# Python virtual environment
.venv2/

# Data and large files
Data/processed/
Biomedical Module/combined_df.pkl
Deep Learning Module/models/

# Python cache
__pycache__/
*.pyc
*.exe

# IDE/project settings
.idea/

Data/
.venv/
.gradio/
/intelligent-activity-recognition-and-physiological-monitoring-system-MLP/
site-packages/

# Pickle or CSVs
*.pkl
*.csv

# Other unnecessary IDE/project files
.idea/
.gradio/